/* HERO PANEL */
#hero {
    background-color: #e4e4e5;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#hero h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

legend {
    text-align: center;
    font-family: sans-serif;
}

/* INPUT */
input {
    width: 99%;
    font-family: 'Open Sans', sans-serif;
}

.form-group {
    margin-top: 25px;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

label {
    margin-left: 12px;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 97%;
    padding: 10px 15px;
    margin: 10px 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

select {
    width: 97%;
    padding: 10px 15px;
    margin: 10px 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button[type=submit] {
    margin-left: 25px;
    padding: 10px 10px;
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: #0ca878;
    border: 1px solid #197a43;
    color: #fff;  
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
